# Site Information
title: MicroBIM-Fire
subtitle: Libraries Documentation
description: Comprehensive documentation for Revit Extensions, WPF UI Library, Revit Geometry Manipulation, and Revit Data Handling. Designed to empower developers with tools and guidance for seamless integration and enhanced workflows in the AEC industry.

keywords: MicroBIM, Fire Libraries, Revit Extensions, WPF UI, Revit Geometry, Revit Data, AEC Industry, Developer Tools, Revit API, WPF Development

author: Khalid Fathy
language: en
timezone: ""

# URL
url: http://example.com
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true
  trailing_html: true

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ""
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ""
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ""

# Home page setting
index_generator:
  path: ""
  per_page: 0
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
meta_generator: true

# Date / Time format
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: "mtime"

# Pagination
per_page: 0
pagination_dir: page

# Include / Exclude file(s)
include:
exclude:
ignore:

# Extensions
theme: next

# Deployment
deploy:
  type: ""

# Search
search:
  path: search.xml
  field: all

# Plugins
menu:
  Home: /
  Classes: /categories/
