@import 'header';
@import 'sidebar';
@import 'footer';

@import 'mobile';
.table-of-contents {
  max-height: 400px; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 10px; /* Add spacing for the scrollbar */
}
